* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:#121212;
    background-color: #eaeaea; 
  }
  
  /* Banner Superior INICIO */
  .hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./images/bannerprinc.jpg'); /* Substitua pela sua imagem */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
  }
    
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
  }
  
  .tagline {
    font-size: 18px;
    max-width: 600px;
    line-height: 1.8;
    font-style: italic;
  }
  
  .tagline span {
    font-weight: bold;
    font-style: normal;
    color: #d1c3a7; /* Cor dourada suave */
  }

/* ^Banner Superior FIM */

  .profile-section {
    position: relative;
    padding: 60px 40px;
    background: #eaeaea;
  }

  .border-left {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    background: black;
}

.border-left {
  left: 20px;
}

  .intro {
      text-align: center;
  }

 .imagem-about{
  text-align: center;
  display: flexbox;
 }

 .textoric {
  text-align: center;
 }

 .border-left, .border-right {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: black;
}

.border-left {
  left: 20px;
}

.border-right {
  right: 20px;
}
  /* Responsividade */
  @media (max-width: 768px) {
    .tagline {
      font-size: 16px;
      line-height: 1.6;
    }
  
    .nav-links a {
      font-size: 18px;
    }
  
    .logo {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .tagline {
      font-size: 14px;
      line-height: 1.5;
    }
  
    .nav-links {
      gap: 10px;
    }
  
    .nav-links a {
      font-size: 16px;
    }
  
    .logo {
      font-size: 16px;
    }
  }